{% extends 'base.html' %}

{% block content %}
<main class="container py5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus autem est officia eius obcaecati hic aspernatur voluptates, voluptate consequatur dolor pariatur corrupti suscipit aut magnam quas assumenda temporibus ex ducimus doloribus. Sed, quibusdam dolores velit provident optio consectetur minima nam labore quisquam, laudantium nostrum debitis! Porro, minus! A sapiente consectetur voluptatem magnam doloribus minus voluptates quasi autem quis eos dolores similique pariatur illum quas molestias enim odio maxime iste molestiae aliquid consequuntur laboriosam dicta, nesciunt eius. Facilis, harum eos magni magnam soluta sapiente. Unde fuga quo impedit dolore, magni dicta! Veritatis sunt facilis neque consequatur totam porro atque, necessitatibus assumenda.</p>

        <!--   <div class="text-center"> 
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Signup
            </a>
        </div> -->
    </section>
</main>
{% endblock %}